<div class="message-container <%='author' if current_user == message.user %>" id="message-<%= message.id %>" data-author-id="<%= message.user.id %>" style="width: 75%;">
  <i class="author">
    <span>
      <% if message.user.avatar.attached? %>
        <%= image_tag message.user.avatar.variant(resize: "25x25!"), class: "rounded-circle" %>
      <% else %>
        <%= image_tag gravatar_image_url(current_user.email, size: 25), height: 25, width: 25, class: "rounded-circle" %>
      <% end %>
    </span>
    <span><%= message.user.name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>
