<div class="search-bar row justify-content-center align-items-center mb-5">
  <div class="form-inline">
    <%= form_tag plants_path, method: :get do %>
      <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Search"
                    %>
    <% end %>
    <%= simple_form_for @plant do |f| %>
      <%= f.input :image, label: false, as: :file, wrapper_html: {class: "search-button"} %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
