<div class="detailed-info-group details-hidden">
  <div class="container">
    <div class="details-card">
      <div class="emoji emoji-padding">🌱</div>
      <div class="card-text">
        <div class="details-header">Description</div>
        <div class="details-text"><%= @pot.plant.description %></div>
      </div>
    </div>
    <div class="details-card">
      <div class="emoji emoji-padding">🌡</div>
      <div class="card-text">
        <div class="details-header">Temperature</div>
        <div class="details-text"><%= @pot.plant.temperature %></div>
      </div>
    </div>
    <div class="details-card">
      <% if @pot.plant.biweekly? %>
        <div class="emoji emoji-padding"><%= "💧" %></div>
        <div class="card-text">
          <div class="details-header"><%= "Watering schedule" %></div>
          <div class="details-text"><%= "I only need to be watered once every two weeks. This #{@pot.plant.name} is pretty chill like that." %></div>
        </div>
      <% elsif @pot.plant.weekly? %>
        <%= content_tag(:div, "💦", class: "emoji emoji-padding") %>
        <div class="card-text">
          <div class="details-header"><%= "Watering schedule" %></div>
          <div class="details-text"><%= "I need to be watered once a week. Not too bad, right?" %></div>
        </div>
      <% elsif %>
        <div class="emoji emoji-padding"><%= "🌊" %></div>
        <div class="card-text">
          <div class="details-header"><%= "Watering schedule" %></div>
          <div class="details-text"><%= "I need to be watered once every two days. This #{@pot.plant.name} is thirsty!" %></div>
        </div>
      <% end %>
    </div>

    <div class="details-card">
      <% if @pot.plant.low? %>
        <div class="emoji emoji-padding"><%= "⛅️" %></div>
        <div class="card-text">
          <div class="details-header"><%= "Sunlight" %></div>
          <div class="details-text">
            <% if ['a', 'e', 'i', 'o', 'u'].include? @pot.plant.name.first.downcase %>
              <%= "An #{@pot.plant.name} like me needs low sunlight." %>
            <% else %>
              <%= "A #{@pot.plant.name} like me needs low sunlight." %>
            <% end %>
          </div>
        </div>
      <% elsif @pot.plant.medium? %>
        <%= content_tag(:div, "🌤", class: "emoji emoji-padding") %>
        <div class="card-text">
          <div class="details-header"><%= "Sunlight" %></div>
          <div class="details-text">
            <% if ['a', 'e', 'i', 'o', 'u'].include? @pot.plant.name.first.downcase %>
              <%= "An #{@pot.plant.name} like me needs medium sunlight." %>
            <% else %>
              <%= "A #{@pot.plant.name} like me needs medium sunlight." %>
            <% end %>
          </div>
        </div>
      <% elsif %>
        <div class="emoji emoji-padding"><%= "☀️" %></div>
        <div class="card-text">
          <div class="details-header"><%= "Sunlight" %></div>
          <div class="details-text">
            <% if ['a', 'e', 'i', 'o', 'u'].include? @pot.plant.name.first.downcase %>
              <%= "An #{@pot.plant.name} like me needs full sunlight." %>
            <% else %>
              <%= "A #{@pot.plant.name} like me needs full sunlight." %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="details-card">
      <div class="emoji emoji-padding">💁‍♀️</div>
      <div class="card-text">
        <div class="details-header">Care tips</div>
        <div class="details-text"><%= @pot.plant.care %></div>
      </div>
    </div>

    <div class="details-card pot-card">
      <div class="emoji emoji-padding">☢️</div>
      <div class="card-text">
        <div class="details-header">Toxicity</div>
        <div class="details-text"><%= @pot.plant.toxicity %></div>
      </div>
    </div>

  </div>
</div>

