<% content_for :current_page, 'pots_show' %>
<div class="container mx my-5">
  <div class="wraper">
    <h2 id="pots-edit-title">Plant's info</h2>
    <svg id="dot-pots" width="22" height="22" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.00805664 6.03266C0.00805664 2.94438 2.53209 0.440826 5.62038 0.440826C8.68612 0.440826 11.1917 2.9261 11.1917 5.99185C11.1917 9.05759 8.70645 11.5429 5.64071 11.5429H0.00805664V6.03266Z" fill="#05CE91"/>
    </svg>
  </div>
  <div class="container mx my-5">
    <%= simple_form_for [@plants, @pot] do |f| %>
      <div class="form-inputs">
        <%= f.input :nickname, placeholder: 'What is my name?' %>
        <%= f.input :birthday, as: :date, html5: true, placeholder: 'How old am I?' %>
        <div class="button-group" style="margin-top: 3em">
          <%= f.submit "Edit your plant", class: "button-primary" %>
          <!-- Button trigger modal -->
          <button type="button" class="button button-delete-secondary remove" data-toggle="modal" data-target="#exampleModal">
            Remove from garden
          </button>
        </div>
      </div>
    <% end %>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Remove from garden</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <%= link_to "Remove", pot_path(@pot), class: "button button-delete", method: :delete %>
            <button type="button" class="button button-cancel" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
