<% content_for :current_page, 'pots_index' %>
<div class="container mx my-5">
  <h1><b>My Garden</b></h1>

  <%# if no pots in the garden %>
  <% if !@pots.nil? && @pots.count == 0 %>

  <div class="card bg-dark text-white">
  <img class="card-img" src="https://images.unsplash.com/photo-1463936575829-25148e1db1b8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHBsYW50fGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>

  </div>
</div>







 
<% else %>
  <%# pots cards %>
    <div class="pots-show row mt-5">
      <% @pots.each do |pot|  %>
        <div class="col-6 col-lg-4">

        <%# watering schedule %>
          <div>
            <% if pot.water_in_days <= 0 %>
              <h3><%= pot.water_in_days.zero? ? 'Needs water' : "Watering overdue by #{(pot.water_in_days) * (-1) } days." %></h3>
              <%= image_tag "watering_icon/Water_#{pot.water_in_days.zero? ? 'needed' : 'overdue'}.svg", class: 'water-button' %>
              <%= simple_form_for pot, html: {id: "water_pot"} do |f| %>
                <%= f.input :last_watered, input_html: {value: Time.now }, as: :hidden %>
                <%= f.submit 'water plant' %>
              <% end %>
            <% else %>
              <h3>Water in <%= pot.water_in_days %> days.</h3>
            <% end %>
          </div>

          <%= link_to pot_path(pot) do %>
            <div class="card-pick mb-4">
              <%= image_tag pot.plant.cover_picture %>
              <div class="card-pick-info">
                <p><%= pot.plant.name %></p>
                <h3><%= pot.nickname %></h3>
                <p><%= pot.date %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
