<div class="container">
    <h1>It's me,<%= @pot.nickname %> </h1>
    <h3>I'm <%= @pot.date %> old</h3>
        <div class="inf section">
            <p class="general info">
            <%= image_tag @plant.cover_picture %>
            Name: <%= @plant.name %>
            Scientic name: <%= @plant.scientific_name %>
            
            
            </p>
        </div>

    





</div>


name: "Tayo Vase Plant",
  scientific_name: "Aechmea Tayoensis",
  description: "I have compact and broad, mid-green foliage, with a muted red, spiky rosette shaped flower.",
  cover_picture: "https://cdn.shopify.com/s/files/1/1780/8157/articles/Aechmea_Tayoensis_1200x1200.jpg",
  care: "I like humidity so please occasionally spray me with water.",
  temperature: "Keep me away from draughts and in temperatures of between 18 and 24°C.",
  light: 1,
  toxicity: "Keep me away from pets and children as I am toxic",
  watering_schedule: 2,

  create_table "plants", force: :cascade do |t|
    t.string "name"
    t.string "description"
    t.string "care"
    t.string "cover_picture"
    t.integer "watering_schedule"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.string "scientific_name"
    t.string "temperature"
    t.integer "light"
    t.string "toxicity"
  end

  create_table "pots", force: :cascade do |t|
    t.string "nickname"
    t.datetime "last_watered"
    t.datetime "date"
    t.bigint "plant_id", null: false
    t.bigint "user_id", null: false
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.index ["plant_id"], name: "index_pots_on_plant_id"
    t.index ["user_id"], name: "index_pots_on_user_id"
  end