<% content_for :current_page, 'pots_show' %>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @pot.photos.each do |photo| %>
      <div class="carousel-item active">
        <%= cl_image_path photo.key, height: 300, crop: :fill %>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div>
  <%= simple_form_for @pot do |f| %>
    <%= f.input :photo, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
<div class="container">
  <div class="edit">
    <%= link_to edit_pot_path do %>
      <p><i class="fas fa-edit"></i><i>Edit your plant's profile</i></p>
    <% end %>
  </div>
  <div class="top">
    <div class="left">
      <h1 class="plant_name">It's me, <span class="pot_name"><%= @pot.nickname || "name?"%></span></h1>
      <h5>Birthday: <%= @pot.birthday || "birthday?" %></h5>
      <div class="botanical_name">
        <div class="header">Botanical name:</div>
        <div class="text"><%= @pot.plant.scientific_name %></div>
      </div>
    </div>
  </div>
  <div class="category description">
    <div class="header">Description:</div>
    <div class="text"><%= @pot.plant.description %></div>
  </div>
  <div class="category watering">
    <div class="header">Watering schedule:</div>
    <div class="text">
      <% if @pot.plant.biweekly? %>
        <%= "Once every two weeks" %>
        <%= image_tag "watering_icon/water_icon.svg" %>
      <% elsif @pot.plant.weekly? %>
        <%= "Once a week" %>
        <%= image_tag "watering_icon/water_icon.svg" %>
        <%= image_tag "watering_icon/water_icon.svg" %>
      <% elsif %>
        <%= "Once every two days" %>
        <%= image_tag "watering_icon/water_icon.svg" %>
        <%= image_tag "watering_icon/water_icon.svg" %>
        <%= image_tag "watering_icon/water_icon.svg" %>
      <% end %>
    </div>
  </div>
  <div class="category sunlight">
    <div class="header">Sunlight:</div>
    <div class="text">
      <% if @pot.plant.low? %>
        <%= @pot.plant.light %>
        <%= image_tag "sun_icon/full_sun.svg" %>
      <% elsif @pot.plant.weekly? %>
        <%= @pot.plant.light %>
        <%= image_tag "sun_icon/full_sun.svg" %>
        <%= image_tag "sun_icon/full_sun.svg" %>
      <% elsif %>
        <%= @pot.plant.light %>
        <%= image_tag "sun_icon/full_sun.svg" %>
        <%= image_tag "sun_icon/full_sun.svg" %>
        <%= image_tag "sun_icon/full_sun.svg" %>
      <% end %>
    </div>
  </div>
  <div class="category temperature">
    <div class="header">Temperature:</div>
    <div class="text"><%= @pot.plant.temperature %></div>
  </div>
  <div class="category care">
    <div class="header">Care tips:</div>
    <div class="text"><%= @pot.plant.care %></div>
  </div>
  <div class="category toxicity">
    <div class="header">Toxicity:</div>
    <div class="text"><%= @pot.plant.toxicity %></div>
  </div>
  <div class="button-group">
    <%= link_to "Remove from garden", pot_path(@pot), class: "button-secondary", method: :delete, data: { confirm: "Are you sure?"} %>
  </div>