<% content_for :current_page, 'pots_show' %>
<div class="waterdrops">
  <div class="drop2-no"></div>
  <div class="drop4-no"></div>
  <div class="drop1-no"></div>
  <div class="drop5-no"></div>
  <div class="drop3-no"></div>
</div>
<%= render 'pots/modal-carousel' %>
<%#= render 'pots/carousel' %>
<div class="picture-button">
  <%= simple_form_for @pot, html: {id: "picture_upload"}, remote: true do |f| %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false %>
    <%= f.submit %>
  <% end %>
</div>
<div class="backing-card">
  <div class="container">
    <div class="extra-margin">
      <div class="rotation">
        <% if @pot.birthday %>
          <% if @pot.birthday.month == Date.today.month && @pot.birthday.day == Date.today.day %>
            <%= image_tag "cake_icon/cake_icon.svg", class: "cake" %>
          <% end %>
        <% end %>
      </div>
      <% if @pot.nickname %>
        <h1 class="plant_name">It's me, <span class="pot_name"><%= @pot.nickname %></span></h1>
      <% else %>
        <h1 class="plant_name">My <span class="pot_name"><%= @pot.plant.name %></span></h1>
      <% end %>
      <% if @pot.nickname? %>
        <div class="pot-info"><%= @pot.plant.name %></div>
      <% else %>
        <div class="pot-info scientific-name"><%= @pot.plant.scientific_name %></div>
      <% end %>
      <% if @pot.birthday %>
        <% if @pot.birthday.month == Date.today.month && @pot.birthday.day == Date.today.day %>
          <div class="birthday-text">Today's my birthday! </div>
        <% else %>
          <div class="pot-info">Birthday: <%= @pot.birthday || "not added yet" %></div>
        <% end  %>
      <% end %>
      <div>
        <%= link_to edit_pot_path, html: {class: "watering"} do %>
          <% if @pot.nickname? %>
            <p class="profile-edit"><i class="fas fa-edit"></i> Edit <%= @pot.nickname %>'s profile</p>
          <% else %>
            <p class="profile-edit"><i class="fas fa-edit"></i> Edit your plant's profile</p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="info-group">
      <%= render 'shared/toggle-switch' %>
      <%= render 'basics' %>
      <%= render 'details' %>
    </div>
  </div>
</div>
