<% content_for :current_page, 'pots_show' %>
<%= render 'pots/carousel' %>
<div class="picture-button">
  <%= simple_form_for @pot, html: {id: "picture_upload"}, remote: true do |f| %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false %>
    <%= f.submit %>
  <% end %>
</div>
<div class="backing-card">
  <div class="container">
    <div class="extra-margin">
      <div class="rotation">
        <% if @pot.birthday %>
          <% if @pot.birthday.month == Date.today.month && @pot.birthday.day == Date.today.day %>
            <%= image_tag "cake_icon/cake_icon.svg", class: "cake" %>
          <% end %>
        <% end %>
      </div>
      <% if @pot.nickname %>
        <h1 class="plant_name">It's me, <span class="pot_name"><%= @pot.nickname %></span></h1>
      <% else %>
        <h1 class="plant_name">My <span class="pot_name"><%= @pot.plant.name %></span></h1>
      <% end %>
      <% if @pot.nickname? %>
        <div class="pot-info"><%= @pot.plant.name %></div>
      <% else %>
        <div class="pot-info scientific-name"><%= @pot.plant.scientific_name %></div>
      <% end %>
      <% if @pot.birthday.month == Date.today.month && @pot.birthday.day == Date.today.day %>
        <div class="birthday-text">Today's my birthday! </div>
      <% else %>
        <div class="pot-info">Birthday: <%= @pot.birthday || "not added yet" %></div>
      <% end  %>
      <div>
      <%= link_to edit_pot_path do %>
        <% if @pot.nickname? %>
          <p class="profile-edit"><i class="fas fa-edit"></i> Edit <%= @pot.nickname %>'s profile</p>
        <% else %>
          <p class="profile-edit"><i class="fas fa-edit"></i> Edit your plant's profile</p>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="info-group">
      <%= render 'shared/toggle-switch' %>
      <%= render 'basics.html.erb' %>
      <%= render 'details.html.erb' %>
    </div>
  </div>
</div>

<!--   <div class="category description">
    <div class="header">Description:</div>
    <div class="text"><#%= @pot.plant.description %></div>
  </div>
  <div class="category watering">
    <div class="header">Watering schedule:</div>
    <div class="text">
      <#% if @pot.plant.biweekly? %>
        <#%= "Once every two weeks" %>
        <#%= image_tag "watering_icon/water_icon.svg" %>
      <v% elsif @pot.plant.weekly? %>
        <#%= "Once a week" %>
        <#%= image_tag "watering_icon/water_icon.svg" %>
        <#%= image_tag "watering_icon/water_icon.svg" %>
      <#% elsif %>
        <#%= "Once every two days" %>
        <#%= image_tag "watering_icon/water_icon.svg" %>
        <#%= image_tag "watering_icon/water_icon.svg" %>
        <#%= image_tag "watering_icon/water_icon.svg" %>
      <#% end %>
    </div>
  </div>
  <div class="category sunlight">
    <div class="header">Sunlight:</div>
    <div class="text">
      <#% if @pot.plant.low? %>
        <#%= @pot.plant.light %>
        <#%= image_tag "sun_icon/full_sun.svg" %>
      <#% elsif @pot.plant.weekly? %>
        <#%= @pot.plant.light %>
        <#%= image_tag "sun_icon/full_sun.svg" %>
        <#%= image_tag "sun_icon/full_sun.svg" %>
      <#% elsif %>
        <#%= @pot.plant.light %>
        <#%= image_tag "sun_icon/full_sun.svg" %>
        <#%= image_tag "sun_icon/full_sun.svg" %>
        <#%= image_tag "sun_icon/full_sun.svg" %>
      <#% end %>
    </div>
  </div>
  <div class="category temperature">
    <div class="header">Temperature:</div>
    <div class="text"><#%= @pot.plant.temperature %></div>
  </div>
  <div class="category care">
    <div class="header">Care tips:</div>
    <div class="text"><#%= @pot.plant.care %></div>
  </div>
  <div class="category toxicity">
    <div class="header">Toxicity:</div>
    <div class="text"><#%= @pot.plant.toxicity %></div>
  </div> -->
