<% link_to "sign out", destroy_user_session_path,:method => :delete %>
<div class="background">
    <div class="container">
        <div class="title my-3" >
            <h1>Become better at gardenning</h1>
            <div class="wraper">
                <h2 id="midorin-style">Midorin</h2>
                <svg id="dot" width="22" height="22" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.00805664 6.03266C0.00805664 2.94438 2.53209 0.440826 5.62038 0.440826C8.68612 0.440826 11.1917 2.9261 11.1917 5.99185C11.1917 9.05759 8.70645 11.5429 5.64071 11.5429H0.00805664V6.03266Z" fill="#05CE91"/>
                    </svg>
            </div>
        </div>

        <div class="details mx-5" >
            <h4><%= image_tag 'landing_icons/search', width: "40", height: "30", alt: "search icon", class:"svg" %> Find the right plant for you!</h4>
            <h4><%= image_tag 'landing_icons/book', width: "40", height: "30", alt: "book icon" %> Learn about plant care</h4>
            <h4><%= image_tag 'landing_icons/watering', width: "40", height: "40", alt: "water icon" %>  Water on time</h4>
            <h4><%= image_tag 'landing_icons/scan', width: "40", height: "30", alt: "scan icon" %>  Identify plants</h4>
            <h4><%= image_tag 'landing_icons/tips', width: "40", height: "40", alt: "tips icon" %>  Get tips and advice</h4>
            <h4><%= image_tag 'landing_icons/winner', width: "40", height: "30", alt: "winner icon" %>  Become a plant master</h4>
        </div>

        <div class="d-flex justify-content-center align-items-center mx my-3">
            <%= link_to "Sign Up", new_user_registration_path, class:'button button-secondary'%>
        </div>
        <div class="d-flex justify-content-center align-items-center ">
            <%= link_to "Login", user_session_path, class:'button button-primary'%>
        </div>
    </div>
</div>





