<% content_for :current_page, 'plants_index' %>
<div class="container mx my-5">
  <div class="wraper mb-3">
    <h2 id="plants-title">Search, Scan</h2>
    <%# <svg id="dot-pots" width="22" height="22" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.00805664 6.03266C0.00805664 2.94438 2.53209 0.440826 5.62038 0.440826C8.68612 0.440826 11.1917 2.9261 11.1917 5.99185C11.1917 9.05759 8.70645 11.5429 5.64071 11.5429H0.00805664V6.03266Z" fill="#05CE91"/>
    </svg> %>
  </div>

  <%= render 'shared/search-bar' %>
  <%= render 'shared/filter-search' %>
  <%= render 'shared/spinner' %>
  <div class="search-center">
    <% if @api_scan %>
      <% if @plants.empty? %>
        <h5>Sorry we didn't find any matches in our database. Please contact admin@midorin.one to add your plant.</h5>
      <% else %>
        <h5>We identified <span style="color:#08e6a3;"> <%= @plants.first.name %><br>
          </span></h5>
        <p><span class="px-4" style="color:#08e6a3; opacity:0.7;">(<%= @plants.first.scientific_name %>)</span></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container ">
  <div class="plants-list justify-content-center">
    <div class="row g-5">
      <% @plants.each do |plant|  %>
        <div class="wraper mb-3 col-lg-6">
          <div class="card-product">
            <%= image_tag plant.cover_picture %>
            <div class="card-product-infos">
              <%= link_to plant_path(plant) do  %>
                <h1><%= plant.name %></h1>
                <h4><%= plant.scientific_name %></h4>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
