<div class="container mx my-5">
  <div class="search-bar row justify-content-center align-items-center mb-5">
    <%= form_tag plants_path, method: :get, class: "form-inline" do %>
      <div class="form-group mb-0">
        <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Search the name of your plant..."
                    %>
      </div>
      <%= button_tag "", class: "btn btn-outline-info" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
    <div>
      <%= simple_form_for @plant do |f| %>
        <%= f.input :image, as: :file %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <!-- <div class="plants-list">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%#= image_tag @plant.cover_picture %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <%#= link_to plant_path(@plant) do  %>
              <h5 class="card-title"><%#= @plant.name %></h5>
              <p class="card-text"><%#= @plant.description %></p>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="plants-list">
    <% @plants.each do |plant|  %>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= image_tag plant.cover_picture %>
            <%# <img src="..." class="img-fluid rounded-start" alt="..."> %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <%= link_to plant_path(plant) do  %>
                <h5 class="card-title"><%= plant.name %></h5>
                <p class="card-text"><%= plant.description %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>