<% content_for :current_page, 'plants_index' %>
<div class="container mx my-5">
  <%= render 'shared/search-bar' %>
  <%= render 'shared/spinner' %>
  <div>
    <% if @api_scan %>
      <h5>We identified <span style="color:#08e6a3;"> <%= @plants.first.name %><br>
        </span></h5>
      <p><span class="px-4" style="color:#08e6a3; opacity:0.7;">(<%= @plants.first.scientific_name %>)</span></p>
    <% end %>
  </div>
  <div class="container">
  <div class="row">
    <div class="plants-list justify-content-center col-sm-6 ">
      <% @plants.each do |plant|  %>
        <div class="card-product mb-3">
          <%= image_tag plant.cover_picture %>
          <div class="card-product-infos">
            <%= link_to plant_path(plant) do  %>
              <h1><%= plant.name %></h1>
              <h4><%= plant.scientific_name %></h4>
              <i>
                <p>water and light icons</p>
              </i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
