<div class="container mx my-5">
  <%= render 'shared/search-bar' %>
  <div class="plants-list justify-content-center ">
    <% @plants.each do |plant|  %>
      <div class="card-product mb-3">
        <%= image_tag plant.cover_picture %>
        <div class="card-product-infos">
          <%= link_to plant_path(plant) do  %>
            <h1><%= plant.name %></h1>
            <h4><%= plant.scientific_name %></h4>
            <i>
              <p>water and light icons</p>
            </i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>