
<div class="container">
  <div class="top">
    <div class="left">
      <h1><%= @plant.name %></h1>

       <div class="botanical_name">
        <div class="header">Botanical name:</div>
        <div class="text"><%= @plant.scientific_name %></div>
      </div>
    </div>
    <div class="plant_image">
      <%= image_tag @plant.cover_picture %>
    </div>
  </div>

  <div class="category description">
    <div class="header">Description:</div>
    <div class="text"><%= @plant.description %></div>
  </div>

  <div class="category watering">
    <div class="header">Watering schedule:</div>
    <div class="text"><%= @plant.watering_schedule %></div>
  </div>

  <div class="category sunlight">
    <div class="header">Sunlight:</div>
    <div class="text"><%= @plant.light %></div>
  </div>

  <div class="category temperature">
    <div class="header">Temperature:</div>
    <div class="text"><%= @plant.temperature %></div>
  </div>

  <div class="category care">
    <div class="header">Care tips:</div>
    <div class="text"><%= @plant.care %></div>
  </div>

  <div class="category toxicity">
    <div class="header">Toxicity:</div>
    <div class="text"><%= @plant.toxicity %></div>
  </div>

  <div>
    <%= link_to "Add to garden", plants_path, class: "button-primary"%>
  </div>
  <div>
    <%= link_to "Add to garden", plants_path, class: "button-primary"%>
  </div>

</div>

<h1><%= @plant.name %></h1>
<p><strong>Botanical name:</strong> <%= @plant.scientific_name %></p>
<%= image_tag @plant.cover_picture %>
<%= simple_form_for @pot do |f| %>
  <%= f.input :plant_id, input_html: {value: @plant.id }, as: :hidden %>
  <%= f.submit "Add to garden", class: "btn btn-primary"%>
<% end %>
