<% content_for :current_page, 'plants_show' %>
<%= render 'plants/carousel.html.erb' %>

<div class="backing-card">
  <div class="container">
    <div class="extra-margin">
      <h2 class="plant_name"><%= @plant.name%></h2>
      <div class="text scientific-name"><%= @plant.scientific_name %></div>
    </div>
    <div class="info-group">
      <%= render 'shared/toggle-switch' %>
      <%= render 'basics.html.erb' %>
      <%= render 'details.html.erb' %>
    </div>
    <div class="button-group">
      <%= simple_form_for @pot do |f| %>
        <%= f.input :plant_id, input_html: {value: @plant.id }, as: :hidden %>
        <%= f.submit "Add to garden", class: "button-primary"%>
      <% end %>
    </div>
  </div>
</div>
