<% content_for :current_page, 'plants_show' %>
<div class="container">
  <div class="top">
    <div class="left">
      <h1 class="plant_name"><%= @plant.name %></h1>

       <div class="botanical_name">
        <div class="header">Botanical name:</div>
        <div class="text"><%= @plant.scientific_name %></div>
      </div>
    </div>
    <div class="plant-image">
      <%= image_tag @plant.cover_picture %>
    </div>
  </div>
  <div class="category description">
    <div class="header">Description:</div>
    <div class="text"><%= @plant.description %></div>
  </div>

  <div class="category watering">
    <div class="header">Watering schedule:</div>
    <div class="text">
      <% if @plant.biweekly? %>
        <%= "Once every two weeks" %>
        <%= image_tag "watering_icon/water_icon.svg" %>
      <% elsif @plant.weekly? %>
        <%= "Once a week" %>

        <%= image_tag "watering_icon/water_icon.svg" %>
        <%= image_tag "watering_icon/water_icon.svg" %>

      <% elsif %>
        <%= "Once every two days" %>
        <%= image_tag "watering_icon/water_icon.svg" %>
        <%= image_tag "watering_icon/water_icon.svg" %>
        <%= image_tag "watering_icon/water_icon.svg" %>
      <% end %>
    </div>
  </div>
  <div class="category sunlight">
    <div class="header">Sunlight:</div>
    <div class="text">
      <% if @plant.low? %>
        <%= @plant.light %>
        <%= image_tag "sun_icon/full_sun.svg" %>
      <% elsif @plant.weekly? %>
        <%= @plant.light %>
        <%= image_tag "sun_icon/full_sun.svg" %>
        <%= image_tag "sun_icon/full_sun.svg" %>
      <% elsif %>
        <%= @plant.light %>
        <%= image_tag "sun_icon/full_sun.svg" %>
        <%= image_tag "sun_icon/full_sun.svg" %>
        <%= image_tag "sun_icon/full_sun.svg" %>
      <% end %>
    </div>
  </div>
  <div class="category temperature">
    <div class="header">Temperature:</div>
    <div class="text"><%= @plant.temperature %></div>
  </div>
  <div class="category care">
    <div class="header">Care tips:</div>
    <div class="text"><%= @plant.care %></div>
  </div>
  <div class="category toxicity">
    <div class="header">Toxicity:</div>
    <div class="text"><%= @plant.toxicity %></div>
  </div>
  <div class="button-group">
    <%= simple_form_for @pot do |f| %>
      <%= f.input :plant_id, input_html: {value: @plant.id }, as: :hidden %>
      <%= f.submit "Add to garden", class: "button-primary"%>
    <% end %>
    <%= link_to "Back", :back, class: "button-secondary"%>
  </div>
</div>
