<!DOCTYPE html>
<html>
  <head>
    <title>Midorin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  
  <body>
    <div class="page-frame-content">
      <div class="page-frame-header">
        <%#= render 'shared/navbar' %>
      </div>

      <div class="page-frame-body">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>

      <div class="page-frame-footer">
        <% if  current_user %>
          <%= render 'shared/nav' %>
        <% end %>
      </div>
    </div>

  </body>
</html>
